<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daviancorp.android.monsterhunter3udatabase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.MonsterListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.ItemListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.LocationListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.CombiningListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.QuestListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.MonsterGridActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.HuntingFleetListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.SkillTreeListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.DecorationListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.ArmorListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.daviancorp.android.monsterhunter3udatabase.WeaponListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>